
# IDE Generated
Puzzle Bobble/.vs
Puzzle Bobble/.idea
League of Legends 2022.sln.DotSettings.user

# Unity Generated
Puzzle Bobble/Library
Puzzle Bobble/Logs
Puzzle Bobble/obj
Puzzle Bobble/Temp

Thumbs.db
Thumbs.db.meta
.DS_Store
.vscode
.history
***.csproj
**/*.sln

*.vsconfig
bin/apk/l3.apk

ProjectCuratorSettings.json
BuildReportToolOptions.xml
bin/apk/
